<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <title>회원가입</title>

    <style>
        * {
            font-family: 'Gowun Dodum', sans-serif;
        }

        body {
            height: 100vh;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .title {
            display: flex;
            justify-content: center;
            margin: 10px 0 40px 0;
        }

        .input-group-text {
            width: 100px;
        }

        .container {
            width: 500px;
            box-shadow: 0 0 5px 1px #ced4da;

            padding: 20px;
        }

        .btn {
            color: black;
            background-color: white;
        }

        .btn--cancel {
            border: 1px solid #e39393;
        }

        .btn--cancel:hover {
            background-color: #ef4a4a;
            color: white;
        }

    </style>
    <script>
        let verifiedName = 0;
        let verifiedNick = 0;
        function register() {
            // let element = document.getElementById("")
            // element.style.border = '1px solid black'
            let id = $('#userid').val();
            let pw = $('#userpw').val();
            let pw2 = $('#userpw2').val();
            let nick = $('#usernick').val();
            let borderId = document.getElementById('userid')
            borderId.style.border = '1px solid red'
            id === '' ? borderId.style.border = '1px solid red':borderId.style.border = '1px solid #ced4da';
            let borderPw = document.getElementById('userpw')
            borderPw.style.border = '1px solid red'
            pw === '' ? borderPw.style.border = '1px solid red':borderPw.style.border = '1px solid #ced4da';
            let borderPw2 = document.getElementById('userpw2')
            borderPw2.style.border = '1px solid red'
            pw2 === '' ? borderPw2.style.border = '1px solid red':borderPw2.style.border = '1px solid #ced4da';
            let borderNick = document.getElementById('usernick')
            borderNick.style.border = '1px solid red'
            nick === '' ? borderNick.style.border = '1px solid red':borderNick.style.border = '1px solid #ced4da';


            if(id === '' || pw === '' || nick === '') {
                alert('양식을 작성해주세요')
            } else if(verifiedName === 0) {
                alert('아이디를 중복확인 해주세요')
                borderId.style.border = '1px solid red'
            } else if (verifiedNick === 0){
                alert('닉네임을 중복확인 해주세요')
                borderNick.style.border = '1px solid red'
            } else if(pw !== pw2) {
                alert('비밀번호가 일치하지 않습니다')
                borderPw.style.border = '1px solid red'
                borderPw2.style.border = '1px solid red'
            } else {
                $.ajax({
                type: "POST",
                url: "/api/register",
                data: {
                    id_give: id,
                    pw_give: pw,
                    nickname_give: nick
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('회원가입이 완료되었습니다.')
                        window.location.href = '/'
                    } else {
                        alert(response['msg'])
                    }
                }
            })
            }
        }

        function idcheck() {
            userid = $('#userid').val()
            if(userid == ''){
                return alert('잘못된 입력 형식입니다')
            }
            $.ajax({
                type: "GET",
                url: "/api/register",
                data: {},
                success: function (response) {
                    let rows = response['users'];
                    let doubleCheck = false;
                    for(let i = 0; i < rows.length; i++) {
                        let userid = $('#userid').val()
                        let id = rows[i]['id']
                        if(userid === id) {
                            doubleCheck = true
                        }
                    }
                    if(doubleCheck) {
                        alert('중복입니다')
                        verifiedName = 0;
                    } else {
                        alert('사용 가능 합니다')
                        verifiedName = 1;
                    }
                }
            });
        }

        function nickcheck() {
            usernick = $('#usernick').val()
            if(usernick == ''){
                return alert('잘못된 입력 형식입니다')
            }
            $.ajax({
                type: "GET",
                url: "/api/register",
                data: {},
                success: function (response) {
                    let rows = response['users'];
                    let doubleCheck = false;
                    for(let i = 0; i < rows.length; i++) {
                        let usernick = $('#usernick').val()
                        let nick = rows[i]['nick']
                        if(usernick === nick) {
                            doubleCheck = true;
                        }
                    }
                    if(doubleCheck) {
                        alert('중복입니다')
                        verifiedNick = 0;
                    } else {
                        alert('사용 가능 합니다')
                        verifiedNick = 1;
                    }
                }
            });
        }


        function cancel() {
            window.location.href='/login'
        }


    </script>
</head>


<body>
    <div class="section">
        <div class="container">
            <h1 class="title">회원가입 페이지</h1>
            <div class="input-group mb-3">
                <span class="input-group-text">ID</span>
                <input type="text" class="form-control" id="userid">
                <button onclick="idcheck()" type="button" class="btn btn-outline-secondary">중복확인</button>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">PW</span>
                <input type="password" class="form-control" id="userpw">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">PW check</span>
                <input type="password" class="form-control" id="userpw2">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Nickname</span>
                <input type="text" class="form-control" id="usernick">
                <button onclick="nickcheck()" type="button" class="btn btn-outline-secondary">중복확인</button>
            </div>
            <div>
                <button onclick="register()" type="button" class="btn btn-outline-secondary">등록하기</button>
                <button onclick="cancel()" type="button" class=" btn btn--cancel">취소하기</button>
            </div>
        </div>
    </div>
</body>
</html>